body {
	background: url("Images/bg.png");
	background-attachment: scroll;
	color: #191a1b;
}
.skyContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.skyLeft {
	position: absolute;
	top: 0px;
	right: 50%;
	margin-right: -70px;
	width: 60%;
	height: 500px;
	background: url("Images/sky.png");
	background-position: right top;
}
.skyRight {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: 420px;
	width: 50%;
	height: 500px;
	background: url("Images/sky.png");
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #191a1b;
	transition: color .2s;
}
a.r:hover {
	color: #c34938;
}
a.b:hover {
	color: #2b9ec6;
}
h1 {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 40pt;
	text-align: center;
	line-height: 1.5em;
	margin: 0;
}
h2.red {
	font-family: 'Gloria Hallelujah', cursive;
	color: #c34938;
	font-size: 30pt;
	text-align: center;
	line-height: 1.5em;
}
h2.blue {
	font-family: 'Gloria Hallelujah', cursive;
	color: #2b9ec6;
	font-size: 30pt;
	text-align: center;
	line-height: 1.5em;
}
.menu {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -385px;
	width: 771px;
	height: 182px;
	background: url("Images/menu.png");
	z-index: 2;
}
a.home {
	position: absolute;
	top: 35px;
	left: 104px;
	width: 107px;
	height: 90px;
	background: url("Images/home.png");
	transition: all .5s;
}
a.home:hover {
	background: url("Images/home_hover.png");
}
a.gallery {
	position: absolute;
	top: 39px;
	left: 210px;
	width: 97px;
	height: 86px;
	background: url("Images/gallery.png");
	transition: all .5s;
}
a.gallery:hover {
	background: url("Images/gallery_hover.png");
}
a.calendar {
	position: absolute;
	top: 29px;
	left: 307px;
	width: 102px;
	height: 92px;
	background: url("Images/calendar.png");
	transition: all .5s;
}
a.calendar:hover {
	background: url("Images/calendar_hover.png");
}
a.resources {
	position: absolute;
	top: 19px;
	left: 409px;
	width: 110px;
	height: 89px;
	background: url("Images/resources.png");
	transition: all .5s;
}
a.resources:hover {
	background: url("Images/resources_hover.png");
}
a.contact {
	position: absolute;
	top: 18px;
	left: 519px;
	width: 118px;
	height: 76px;
	background: url("Images/contact.png");
	transition: all .5s;
}
a.contact:hover {
	background: url("Images/contact_hover.png");
}
.mainBox {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -350px;
	width: 700px;
	min-height: 100%;
	height: auto;
	background-color: #fbfaf6;
	font-family: lato;
	font-size: 12pt;
	line-height: 1.4em;
}
.padding {
	padding: 30px;
}
.leftBorder {
	position: absolute;
	top: 0px;
	left: -25px;
	width: 50px;
	height: 100%;
	background: url("Images/textbox_border_left.png");
}
.rightBorder {
	position: absolute;
	top: 0px;
	right: -25px;
	width: 50px;
	height: 100%;
	background: url("Images/textbox_border_right.png");
}
/* ------------ Resources --------------- */
strong {
	font-size: 14pt;
}
h2.res {
	text-align: left;
	font-size: 20pt;
	line-height: 1 em;
	margin: 0;
}
table.resList {
	width: 100%;
}
table.resList a {
	font-weight: normal;
}
table.resList td{
	width: 33%;
	vertical-align: top;
}
table.resList li {
	background-image: url("Images/bluebullet.png");
    background-repeat: no-repeat;
    background-position: 0px 7px; 
    padding-left: 15px; 
}
table.resList ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.box {
	margin: 0px 50px;
	border: 2px solid #c34938;
	border-radius: 25px;
	padding: 10px;
}
.box p {
	margin: 0px 0px 0px 25px;
}
/* ------------ Home Page --------------- */
table.list td {
	width: 50%;
	vertical-align: top;
}
table.list li {
	margin-bottom: 1em;
	background-image: url("Images/redbullet.png");
    background-repeat: no-repeat;
    background-position: 0px 7px; 
    padding-left: 15px; 
}
table.list ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}
/* ------------ Gallery --------------- */
.title {
	padding-bottom: 15px;
	background: url("Images/50b.png");
	color: #fbfaf6;
	height: 1.5em;
	font-size: 15pt;
	font-family: 'Gloria Hallelujah', cursive;
	letter-spacing: .5em;
	width: 100%;
	text-align: center;
	bottom: 50px;
	left: 0px;
	position: fixed;
	z-index: 101;
}
.vid {
	width: 100%;
	height: auto;
}
div.left:hover, div.right:hover, table.pics div.cont:hover {
	cursor: pointer;
}
div.left {
	position: fixed;
	top: 50%;
	left: 20px;
	width: 100px;
	height: 100px;
	display: block;
	background: url("Images/arrowLeft.png");
	z-index: 100;
}
div.right {
	position: fixed;
	top: 50%;
	right: 20px;
	width: 100px;
	height: 100px;
	display: block;
	background: url("Images/arrowRight.png");
	z-index: 100;
}
.cover {
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0;
	background: black;
	width: 100%;
	height: 100%;
	z-index: 50;
}
table.pics div.cont {
	padding: 5px;
	background: #2b9ec6;
	width: 100px;
	height: 100px;
	overflow: hidden;
	transition: background .5s;
}
table.pics div.cont:hover {
	background: #c34938;
}
table.pics {
	border-spacing: .8em;
}
table.pics img.thumb {
	position: absolute;
	clip: rect(0px, 100px, 100px, 0px);
}
table.pics img.large {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 100;
	padding: 10px;
	background: #2b9ec6;
	cursor: default;
}